<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="cred">Name: </label>
        <input type="text" id="cred" name="info"><br>
        <label for="course">Course: </label>
        <input type="text" id="course" name="course"><br>
        <label for="job">Profession: </label>
        <input type="text" id="job" name="prof"><br>
        <label for="gen">Gender: </label>
        <select name="gender" id="gen"><br>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Other</option>
        </select>
        <label for="quote">Quote?Article here: </label><br>
        <textarea name="quote" id="quote"></textarea><br>
        <input type="submit"><br>

    </form>
</body>
</html>